{% extends 'base.html' %}

{% block title %}Create Apartment Listing - Apartment Reviews{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h4 class="teal-text text-darken-2">
                <i class="material-icons left">add_home</i>Create Apartment Listing
            </h4>
            <p class="grey-text">Add your property details to create a new listing.</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <form method="POST" action="{{ url_for('create_listing') }}">
                        {{ form.hidden_tag() }}
                        
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">title</i>
                                {{ form.title(class="validate", id="title") }}
                                {{ form.title.label }}
                                {% if form.title.errors %}
                                    <span class="helper-text red-text">
                                        {% for error in form.title.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">description</i>
                                {{ form.description(class="materialize-textarea", id="description") }}
                                {{ form.description.label }}
                                {% if form.description.errors %}
                                    <span class="helper-text red-text">
                                        {% for error in form.description.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">home</i>
                                {{ form.address(class="validate", id="address") }}
                                {{ form.address.label }}
                                {% if form.address.errors %}
                                    <span class="helper-text red-text">
                                        {% for error in form.address.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="input-field col s12 m4">
                                <i class="material-icons prefix">location_city</i>
                                {{ form.city(class="validate", id="city") }}
                                {{ form.city.label }}
                                {% if form.city.errors %}
                                    <span class="helper-text red-text">
                                        {% for error in form.city.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </div>
                            <div class="input-field col s12 m4">
                                <i class="material-icons prefix">flag</i>
                                {{ form.state(class="browser-default") }}
                                <label>State</label>
                                {% if form.state.errors %}
                                    <span class="helper-text red-text">
                                        {% for error in form.state.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </div>
                            <div class="input-field col s12 m4">
                                <i class="material-icons prefix">markunread_mailbox</i>
                                {{ form.zip_code(class="validate", id="zip_code") }}
                                {{ form.zip_code.label }}
                                {% if form.zip_code.errors %}
                                    <span class="helper-text red-text">
                                        {% for error in form.zip_code.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="input-field col s12 m4">
                                <i class="material-icons prefix">attach_money</i>
                                {{ form.price(class="validate", id="price", type="number", step="0.01", min="0") }}
                                {{ form.price.label }}
                                {% if form.price.errors %}
                                    <span class="helper-text red-text">
                                        {% for error in form.price.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </div>
                            <div class="input-field col s12 m4">
                                <i class="material-icons prefix">hotel</i>
                                {{ form.bedrooms(class="validate", id="bedrooms", type="number", min="0") }}
                                {{ form.bedrooms.label }}
                                {% if form.bedrooms.errors %}
                                    <span class="helper-text red-text">
                                        {% for error in form.bedrooms.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </div>
                            <div class="input-field col s12 m4">
                                <i class="material-icons prefix">bathtub</i>
                                {{ form.bathrooms(class="validate", id="bathrooms", type="number", step="0.5", min="0") }}
                                {{ form.bathrooms.label }}
                                {% if form.bathrooms.errors %}
                                    <span class="helper-text red-text">
                                        {% for error in form.bathrooms.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">spa</i>
                                {{ form.amenities(class="materialize-textarea", id="amenities", placeholder="e.g. Gym, Pool, Dishwasher, Air Conditioning...") }}
                                {{ form.amenities.label }}
                                <span class="helper-text">Enter amenities separated by commas</span>
                                {% if form.amenities.errors %}
                                    <span class="helper-text red-text">
                                        {% for error in form.amenities.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col s12 center-align">
                                <button class="btn-large waves-effect waves-light teal darken-2" type="submit">
                                    Create Listing
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        $('select').formSelect();
        $('.materialize-textarea').characterCounter();
    });
</script>
{% endblock %}
